{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<!---template for rendering tracking visualizations on 'tracking' page--->

{% block app_content %}
  <body>
  <h1>HELLO KITTY &#x1F638;</h1>
  <div id="chart_1" class="chart"></div>
  <div id="chart_2" class="chart"></div>
  </body>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
    var graphs = {{json_1 | safe}};
    Plotly.plot('chart_1', graphs, {});
  </script>

  <script type="text/javascript">
    var graphs = {{json_2 | safe}};
    Plotly.plot('chart_2', graphs, {});
  </script>
{% endblock %}
