{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<!---template for rendering tracking visualizations on 'tracking' page--->

{% block content %}
  <h1>RSP Data Monitoring by Lot &#x1F9EA; &#x1F9EB; &#x1F9EC;</h1>
  <div class="container-fluid">
    <div id="chart_1" class="chart" style="height:45%; width:90%"></div>
    <div id="chart_2" class="chart" style="padding:10px"></div>
  </div>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
    var graphs = {{ context.panel_viz | safe}};
    Plotly.plot('chart_1', graphs, {});
  </script>

  <script type="text/javascript">
    var graphs = {{ context.error_viz | safe}};
    Plotly.plot('chart_2', graphs, {});
  </script>
{% endblock %}
