{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<!---template for rendering tracking visualizations on 'tracking' page--->

{% block app_content %}
  <body>
  <h1>HELLO KITTY &#x1F638;</h1>
  <div id="chart" class="chart"></div>
  </body>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
    var graphs = {{graphJSON_1 | safe}};
    Plotly.plot('chart',graphs,{});
  </script>
                                                        
  <body>
  <h1>HELLO KITTY &#x1F638;</h1>
  <div id="chart" class="chart"></div>
  </body>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
    var graphs = {{graphJSON_2 | safe}};
    Plotly.plot('chart',graphs,{});
  </script>
{% endblock %}
