{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

<!---template for rendering content and navigation buttons on view_records page see _post.html--->

{% block app_content %}
    <h2>Previous Records</h2>
    {% for run in runs %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer Records
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older Records <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
    <a href="{{ url_for('download_csv') }}">Download CSV</a>
    <br>
    <br>
{% endblock %}
